h1 {
    color: brown;
    text-decoration: underline;
    text-align: center;
}
h2 {
    color: grey;
    text-align: center;
}
ul {
    align-items: baseline;
    color: azure;
    text-indent: 0em;
}
li {
    border-left-color: aliceblue;
    
}
body {
    background-color: gainsboro;
    text-align: center;
    list-style-position: inside;
}